
@{
    ViewBag.Title = "SignUp";
}

<h2>會員註冊</h2>

@using (Html.BeginForm("SignUp", "User", FormMethod.Post)) 
{

    <p>姓名：@Html.TextBox("name")  @ViewBag.NameMessage</p>
    <p>帳號：@Html.TextBox("account")  @ViewBag.AcMessage</p>
    <p>密碼：@Html.Password("pd")   @ViewBag.PdMessage</p>

    <p>@ViewBag.Message</p>

     <input type="submit" value="註冊" />

        }

