
@{
    ViewBag.Title = "HW3";
}

<h2>HW3</h2>

@{
    string[] fruits = { "蘋果", "香蕉", "荔枝", "鳳梨", "西瓜" };
}


<p>嗨！@ViewBag.A 小姐</p>
<p>嗨！@ViewData["B"] 小姐</p>

<ol>
    @foreach (var item in fruits)
    {

        <li>@item</li>

    }
</ol>

